<% wrap_layout :default do %>
  <div class="row" style="margin:10px">
    <div class="large-8 columns">
      <p>
      <b>News date:</b><br/ >
        <%= current_page.data.date %>
      </p>
      <p><%= yield %></p>
    </div>
    <% if current_page.data.picture != nil or current_page.data.links != nil %>
      <div class="large-4 columns panel">
        <% if current_page.data.picture != nil %>
          <%= image_tag(current_page.data.picture)%>
        <% end %>
        <ul class="no-bullet">
          <% for key in current_page.data.links %>
            <li><b><%=key.label%>:</b><br /> <%= link_to key.value,key.value %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>